/*************************************************************************************************************************************
Title: Karen Ballengee
Author: Karen Ballengee
Date Created: April 13, 2020
Date Validated: May 15, 2020
*************************************************************************************************************************************/

/*Navigation Styles*/
#hamburger { display: none;}
nav { top: 0px;
    width: 100%; }
nav ul{ font-family: "Century Gothic", helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #4c265e; 
    color: white; 
    list-style-type: none;
    text-align: center;
    position: relative; 
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 0; }
nav ul li { position: relative;
        float: left;}
nav a{ text-decoration: none; 
    display: inline-block; 
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px; }
nav ul > li { display: inline-block; 
            position: relative;
            background-color: #4c265e; }
nav ul>li ul { position: absolute;
                top: 100%;
                display: none; }
nav ul ul ul li { float: none;}
nav>ul>li:hover { display: block; }
nav ul >li > a { text-decoration: none;
                color: #ffffff; } 
nav  ul > li > a:hover{ background-color: #D3D3D3;
                        color: #4c265e; }
nav ul ul{  top: 100%;
            font-family: "Century Gothic", helvetica, sans-serif;
            font-size: 1em;
            font-weight: bold;
             
            color: #ffffff; 
            list-style-type: none;
            display: none;
            position: absolute;
            margin-left: 0;
            padding-left: 0; }
nav ul ul li { background-color: #404040;
    
    float: none; 
            display: block; }
nav ul li:hover >ul { display: block; }
nav ul:after { content: "";
            display: block;
            clear: both; }
nav > ul  ul> li{ border-right: none;}

/*Media Query*/

 /*Media Query*/
@media only screen and (max-width: 640px) {
   #hamburger {
		display: inline-block;
        padding-left: 50px;
        width: 26px;
        font-size:3.2em;
        float: left;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
       margin-bottom: 10px;
        cursor: pointer; 
        color: #ffffff;}
    nav ul>.lastitem{ border-bottom: none;  }
    nav:hover #mobileHide {
		display: none;   }
    nav ul, nav:active ul {
        list-style-type: none; 
        display:none; 
        position: absolute; 
        padding: 0; 
        top: 280px;} /*this is where you can adjust how far up the mobile menu appears */
    nav ul li { text-align: center;
		      font-weight: bold;
            color: darkmagenta;
            border-right: none;
            position: relative;
            border-bottom: 3px dotted white;
            width:100%;
            padding-bottom: 20px;
            padding-top: 20px; }
    nav a { text-decoration: none;
            display: block;
            border: none;
            width: 100%;
            padding: 0;
            }
    nav ul {display: none;}
    nav:hover ul{ display:block; }
    nav ul ul li {  display: none; }
    nav  ul > li > a:hover{ background-color: #4c265e;
                        color: #d9d9d9; }
}
