/*************************************************************************************************************************************
Title: Karen Ballengee
Author: Karen Ballengee
Date Created: April 1, 2020
Date Validated: May 15, 2020
*************************************************************************************************************************************/
/*Text Styles*/
@font-face { font-family: "Nautilus"; 
            src: url("fonts/Nautilus.otf"); }
header { width: 100%;
        border-bottom: 5px solid #708090;
        background-image: url(images/clarinet.png);
        background-size: cover; 
        padding-top: 4em; }
header p    { color: #4c265e;
        font-size: 4.3em;
        font-family: "Century Gothic",sans-serif;
        font-weight: normal;
        text-align: center;
        line-height: 10%;}
h1     { margin-top: .2em;
        color: #4c265e;
        font-size: 5em;
        font-family: "Nautilus",serif;
        font-weight: normal;
        text-align: center;
        line-height: 10%; 
        letter-spacing: 3px; }
h2 { color: #4c265e;
    font-size: 2.5em;
    font-family: "Century Gothic", helvetica, sans-serif;
    font-weight: bold; }

h3     { color: #7D3c98; 
        font-size: 2em;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold; }
h4     { color: #4b0082; 
        font-size: 1.5em;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold; }
p       { font-family: "Century Gothic", helvetica, sans-serif;
        font-size: 1em;
        line-height: 120%; }
.resumeparagraph { text-align: left; }
 #reflectionP {  
                        width:70%; 
                        margin-left: auto;
                        margin-right: auto; }
.alignLeft { text-align: left; 
                        width: 55%; 
                        margin-left: auto;
                        margin-right: auto; }
/*Link Styles*/
main  a:link { color: #0000ff; 
                text-decoration: none;  }
main a:hover {color: #ff00bf; }
main a:visited {color: forestgreen; }
main a:active {color: #66ffff; }

/*Footer Styles*/
footer { font-size: .8em;
        clear: both;
        width: 100%;
        height: 74px;
        padding-bottom: 5px;
        font-family: "Century-Gothic", arial, sans-serif;
         background-color: #4c265e; 
        color: #ffffff; }
footer a:link { color: #ffffff; 
                font-size: 1em;
                text-decoration: none; }
footer a:hover {color: aqua; }
footer a:visited {color: deeppink; }
footer ul { list-style-type: none;
padding-left: 1em;
padding-top: 20px;
vertical-align: middle; }
footer ul li { float: left;
margin-right: 7em; }f
.icons, footer img { display: inline-block; 
vertical-align: middle; }
footer img { padding-right: 3px;}
#footerleft { width: 80%;
            float: left; }
#footerright { width: 5%;
    float: right;
    margin-right: 70px;}

/*Aside Styles*/
aside { float: right; 
        font-family: "Century Gothic", helvetica, sans-serif;
        font-size: 1em;
        background-color: #eeeeee; 
        margin-right: 10px;
        padding: .5em; 
        margin-left: 1em; 
       margin-bottom: 3em;
        margin-top: 1.5em;
        border: 3px solid purple; }
        aside li { list-style-type: square; }

/*Blockquote Styles*/
blockquote { font-family: "Century Gothic", helvetica, sans-serif;
            font-size: 1em;
            line-height: 100%; 
            width: 600px;
            background-color: #eeeeee; 
            padding: 1em;
            border: 3px solid purple; }
/*Body Styles*/
body { background-color: #778899;
        width: 85%;
        margin-left: auto;
        margin-right: auto; 
        border: 5px solid #383838;
        box-shadow: 3px 3px grey;}
main { background-color: #ffffff; 
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px; }

/*Section Styles */
#section1, #section2, #section3 { width: 90%; 
            background-color: whitesmoke;
            padding: 10px;
            margin-left: auto;
            margin-right: auto; 
            margin-bottom: 20px; }

#section1 > h4, #section2 >h4, #section3 > h4 { line-height: 110%; }
#section1 > p, #section2 > p, #section3 >p { padding-left: 2em;
                                            padding-right: 2em; }
#section1 > ul, #section2 > ul, #section3 > ul { padding-left: 4em;
                                                font-family: "Century Gothic", helvetica, sans-serif;
                                                font-size: 1em; }

#goal1,#goal2, #goal3 { color: white;
                        width: 95%;
                        margin-left: auto;
                        margin-right: auto; 
                        background-color:#4c265e; 
                        padding-left: 1em;
                        padding-top: .5em;
                        padding-bottom: .5em; 
                        margin-bottom: 0; 
                        box-shadow: 5px 5px 2px grey;}

#reflectionP { 
            width: 70%; 
            margin-left: auto;
            margin-right: auto; }

/*Class Styles*/
.accomplishments { font-family: "Century Gothic", helvetica, sans-serif;
                     font-size: 1em;
                     list-style-type: none; }
.clearL { clear: left; }
.courses { font-family: "Century Gothic", helvetica, sans-serif;
            font-size: 1em; }
.current { color: fuchsia; }
.education { font-family: "Century Gothic", helvetica, sans-serif;
            font-size: 1em;
        line-height: 105%; }
.education li{list-style-type: none;
margin-bottom: 1em; }
.past { color: forestgreen; }

/*ID Styles*/
#collage { width: 90%;
         margin-left: 3em;
        border: 5px solid #4c265e;
        box-shadow: 5px 5px 3px lightgrey; }
#keb { float: left; 
        margin-right: 1em; 
        padding-left: 1em; 
        margin-bottom: 0;}

/*Philosophy Styles*/
#philosophy { width: 50%;
            margin-left: auto;
            margin-right: auto; 
            background-color: whitesmoke;
            padding: 20px; 
            margin-bottom: 30px; 
    box-shadow: 10px 10px 5px grey; 
            }
#philosophy > h3 { text-align: center; }
.philosophy1::first-letter{ font-family: "Times new roman", serif;
                            font-size: 5em;
                            font-weight: bold;
                            color: rebeccapurple;
                            text-shadow: 2px 2px #696969;}
.philosophy2::first-line {text-indent: 5%; }

/*Contact Styles*/
form { background-color: #d6d6d6;
        width: 80%;
        margin-left: auto;
        margin-right: auto; 
        font-family: "Century Gothic", helvetica, sans-serif;
        font-size: 1em; 
    box-shadow: 2px 2px gray;
    border: 2px solid #708090; }
button { background-color: #4c265e;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        width: 110px;
        height: 30px;
        margin-bottom: 1em;
    margin-left: 530px; }
.first  { width: 20%;
        float: left; 
        margin-left: 13em;
        margin-right: 7em;
        margin-bottom: 2em;
        margin-top: 2em; }
.last { width: 20%; 
        float: left;
        margin-bottom: 2em;
        margin-top: 2em; }
.email {  clear: left;
            width: 20em;
           margin-left: 7.1em;
            margin-right: auto;
            margin-bottom: 1em; }
.comments { width: 60%;
            margin-left: 13em;
            margin-bottom: 2em; }
.submit { margin-bottom: 2em;
          width: 100%; }
label { line-height: 150%; 
        clear: left; }
#emaillabel { margin-left: 6em;}
textarea { height: 10em;
            width: 85%; 
            margin-left: 0; }
#hideMe{ display:none; }

/*Table Styles*/
table { width: 95%; 
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #708090; 
    font-family: "Century Gothic", helvetica, sans-serif;
    font-size: 1em;
    background-color: white; }
td {vertical-align: top; 
    border: 1px dotted #708090;
    padding: .5em;}
th {background-color: #4c265e;
    color: #ffffff; 
    padding: .5em;}
figcaption { color: #4b0082; 
        font-size: 2em;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold;
        text-align: center; }

/*Media Queries*/
@media screen and (max-width: 640px){ 
  
    /*Layout Styles*/
   
    body {margin-top: 20px;
        margin-left: 100px;
        margin-right: 15px;
        width: 100%;
           margin-left: auto;
            margin-right: auto;
            border: none;
            box-shadow: none; }
    header { width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            top: 0; 
            padding-bottom: 20px;
            border: 3px solid #4c265e;
            box-shadow: 3px 3px gray; }
    h1     { margin-top: .2em;
        color: #4c265e;
        font-size: 3em;
        font-family: "Nautilus",serif;
        font-weight: normal;
        text-align: center;
        line-height: 10%; 
        letter-spacing: 1px; }
    header p    { color: #4c265e;
        font-size: 2.5em;
        font-family: "Century Gothic",sans-serif;
        font-weight: normal;
        text-align: center;
        line-height: 10%;}
    aside { 
        float: none; 
            
            padding-left: 2em; /*padding to move the text*/
            padding-right: 0; /*padding to move the text*/
        font-size: 1em; 
           margin-top: 100px;
            margin-bottom: 0;
            margin-left: 1.5em;
            width: 84%;
            font-size: 1em; }
   #reflectionP { width: 90%;  } 
#footerleft { width: 100%;
            float: left; }
#footerright { width: 20%;
    float: right;
    margin-right: 1em; 
    padding-left: 1em; }
    
    
    
    footer {width: 88%;
            padding-left: .5em;
            padding-right: .5em;
            height: 150px;
            margin-left: 2em;}
 iframe { width: 100%; }
    
footer ul { list-style-type: none;
padding-left: 1em; 
padding-top: 0;
vertical-align: middle; }
footer ul li { float: left;
            margin-right: 5em;
            margin-bottom: .8em;}
.icons, footer img { display: inline-block; 
vertical-align: middle; }
    footer img { padding-right: 3px; }   
    
     
 blockquote { width: 90%;
                margin-left: .5em;
                margin-right: auto; 
                margin-top: 10px;
                font-size: .8em; }
#main1 { width: 85%; /*condensed to a single main*/
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
           margin-top: 20px; 
            margin-bottom: 20px; 
        border: 3px solid #383838;
        box-shadow: 2px 2px grey;} 
    main { width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top:100px;
            margin-bottom: 20px;
        border: 3px solid #383838;
        box-shadow: 2px 2px grey;} /*condensed to a single main*/
          
          /*  padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            margin-left: 25px;
            margin-bottom: 20px;
        border: 3px solid #383838;
        box-shadow: 2px 2px grey;} 
    
    /*Text Styles*/

    h2 { font-size: 1.3em;
        color: #7D3c98; 
        font-family: "Century Gothic", helvetica, sans-serif; }
    h3 {font-size: 1.1em;
        font-family: "Century Gothic", helvetica, sans-serif; }
    h4 {font-size: 1em;
        font-family: "Century Gothic", helvetica, sans-serif;  font-size: .8em; }
    p {font-size: 1em; }
   aside h4 { font-size: 1em; 
       margin-top: .2em; 
            margin-bottom: .2em; }
    .alignLeft { text-align: left; 
                        width: 100%; 
                        margin-left: auto;
                        margin-right: auto; }
    
    /*Philosophy Styles*/
    #philosophy { width: 90%;
            margin-left: auto;
            margin-right: auto; 
            padding: 1em;
            margin-bottom: 10px; }
    #philsophy p { font-size: .8em;}
    .philosophy1::first-letter{ 
                            font-size: 20pt; }
    .accomplishments { font-size: .8em; }
    .courses { font-size: .8em; }
    
    /*ID Styles*/
     #keb{margin-bottom: .5em;
         margin-right: .5em; }
    
    /*Class Styles*/
     .education { font-size: .8em; }
    
    /*Contact Page*/
.first { width: 90%;
            padding: .8em;
            float: none;
            margin-left: auto;
            margin-right: auto; 
            margin-bottom: 0;}
.last { width: 90%; 
        padding: .8em;
        float: none;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        }
.email { width: 90%;  
        padding: 1em;
        float: none;
        margin-left: 0; 
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;}
   .comments { width: 90%;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            padding: .8em;
            clear: left;
            margin-top: 0;
            margin-bottom: 0; }
#submit { width: 100%;
            margin-bottom: 1em;
            margin-left: auto;
            margin-right: auto; }
button {margin-left: 7em; }
#emaillabel { margin-left: 0;}
   textarea {width: 100%; }
 /*Section Styles*/
    #section1 { width: 90%;  }
    #goal1,#goal2, #goal3 { font-size: 1.1em; }
    #section1 > h4, #section2 > h4, #section3 > h4 { font-size: 1em;
                                                    margin-left: auto;
                                                    margin-right: auto; }
   #section1 > p, #section2 > p, #section3 > p { font-size: 1em;}
    #collage{ width: 95%;
        margin-left: auto;
            margin-right: auto; }
    
    
/*Tables*/
    th, td { display: block }
    th { display: none; }
    thead, tbody tr:nth-child(even) { background-color: white; }
   figcaption { color: #4b0082; 
        font-size: 1em;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold;
       text-align: center; }
}
/*Print Styles*/
@media print {
* { background: transparent;
    color: #000000;
    box-shadow: none;
    text-shadow: none; }
nav { display: none; }
h1     { color: black;
        background: none;
        border: 3px solid black;
        font-size: 20pt;
        font-family: "ultra,serif";
        font-weight: bold;
        text-align: center; }
h2      { color: black; 
        font-size: 18pt;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold; }
h3     { color: black; 
        font-size: 16pt;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold; }
h4     { color: black; 
        font-size: 14pt;
        font-family: "Century Gothic", helvetica, sans-serif; 
        font-weight:  bold; }
p       { font-family: "Century Gothic", helvetica, sans-serif;
        font-size: 14pt;
        line-height: 120%; }
footer { font-size: 12pt;
        border-top: 1px solid black; 
        width: 100%;
        height: 50px;
        padding-top: 0px;
        font-family: "Century-Gothic", arial, sans-serif; 
        background-image: none; }
footer a:link { color: black;
                font-size: 12pt; }
footer img { display: none; }
footer ul { list-style-type: none; 
            padding-left: 3px;
            padding-top: 0;}
    footer ul li { float: left;
                margin-right: 50px; }
blockquote { font-family: "Century Gothic", helvetica, sans-serif;
            font-size: .8em;
            line-height: 100%; 
            background-color: #ffffff; 
            border-left: 3px dotted black;
            border-right: none;
            border-top: none;
            border-bottom: none;
            margin-top: 0; }
aside { float: right; 
        font-size: 12pt;
        padding: .5em; 
        margin-top: 200px;
        margin-bottom: 0px;
        border: 1px solid black; }
        aside li { list-style-type: square; }
main { width: 90%; }
.current { color: black; }
.education {font-size: 12pt;
            line-height: 100%; }
.education li{list-style-type: none;
margin-bottom: 12pt; }
.past { color: black; }
}
